@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  font-family: sans-serif;  
  line-height: 1;
}
ol, ul {
  list-style: none;
}
body {
  background: #eeeeee;
  color: #333333;
}
main {
  margin: 20px auto;
  padding: 20px 0;
  width: 400px;
  height: 400px;
  border-radius: 4px;
  background: #0b2b40;
  color: #f1f1f1;
  box-shadow: 0px 0px 10px #666666;
  text-align: center;
}
.time-display p {
  padding: 20px 0;
  font-size: 26px;
}
.time-meter {
  width: 100%;
  height: 2px;
  background: #666666;
}
.time-bar {
  background: #2e8b57;
  height: 2px;
}